.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
    height: 25px;
    color: #fff;
    width: auto;
	animation: animate 20s linear infinite;
	bottom: -150px;
}

  